{% extends 'base.html.twig' %}

{% block body_id "edit_password" %}

{% block body %}
    <form class="centerText" action="{{ path('user_edit_password') }}" method="post">
        <div class="registerForm">
            <h1>Change Password</h1>
            <hr>

            <label for="user_password_first"><b>Password</b></label>
            <label>
                <input type="password" id="user_password_first"
                       name="user[password][first]">
            </label>

            <label for="user_password_second"><b>Confirm Password</b></label>
            <label>
                <input type="password" id="user_password_second"
                       name="user[password][second]">
            </label>

            <hr>
            <button type="submit" class="btn btn-primary">Change</button>
            {#                        {{ form_row(form._token) }}#}
        </div>
    </form>
{% endblock %}
