{% extends "base.html.twig" %}

{% block body_id 'register' %}

{% block body %}

    <form class="centerText" action="{{ path('user_register') }}" method="post">
        <div class="registerForm">
            <h1>Register</h1>
            <h3>Please fill in this form to create an account.</h3>
            <hr>


            <label for="user_username"><b>Username</b></label>
            <label>
                <input type="text" id="user_username" placeholder="Username" name="user[username]" required>
            </label>

            <label for="user_email"><b>Email</b></label>
            <label>
                <input type="text" id="user_email" placeholder="Email" name="user[email]" required>
            </label>

            <label for="user_password_first"><b>Password</b></label>
            <label>
                <input type="password" id="user_password_first" placeholder="Password"
                       name="user[password][first]" required>
            </label>

            <label for="user_password_second"><b>Confirm Password</b></label>
            <label>
                <input type="password" id="user_password_second" placeholder="Password"
                       name="user[password][second]" required>
            </label>

            <label for="user_name"><b>Name</b></label>
            <label>
                <input type="text" id="user_name" placeholder="Name"
                       name="user[name]" required>
            </label>
            <hr>

            <button type="submit" class="btn btn-primary">Register</button>

            {{ form_row(form._token) }}
            <div class="registerForm signin">
                <p>Already have an account? Go to <a href="{{ path('security_login') }}">Log In</a> page.</p>
            </div>
        </div>
    </form>



{% endblock %}
