@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/*body {*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    background-color: white;*/
/*}*/

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}

.centerText {
    box-sizing: border-box;
    color: white;
    text-align: center;

}

.registerForm {
    margin: 75px 150px 30px;
    padding: 16px 24px 24px 30px;
    background-color: grey;
}

.loginForm {
    margin: 75px 150px 30px;
    padding: 16px 24px 24px 30px;
    background-color: grey;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px auto 5px;
    display: block;
    border: none;
    text-align: center;
    color: white;
    background: #1E90FF;
}

input[type=text]:focus, input[type=password]:focus {
    width: 70%;
    padding: 15px;
    margin: 5px auto 5px;
    display: block;
    border: none;
    text-align: center;
    color: white;
    background: #1E90FF;
}

/*Overwrite default styles of hr*/
hr {
    border: 3px solid white;
    margin-bottom: 25px;
}


.btn {
    background-color: #1e90ff;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: solid white;
    cursor: pointer;
    width: 65%;
    opacity: 0.9;
}


::placeholder {
    color: white;
}


a {
    color: white;
}


.signin {
    color: white;
    background-color: #1e90ff;
    text-align: center;
}

.profile {
    padding: 20px;
    border: none;
    background: white;
    color: white;
}

.file {
    background-color: #1e90ff;
    color: white;
    padding: 10px 10px;
    margin: 25px auto;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}


.description {
    width: 70%;
    padding: 15px;
    margin: 5px auto 5px;
    display: block;
    border: none;
    text-align: center;
    color: white;
    background: #1E90FF;
}


.post {
    margin: 75px 150px 30px;
    padding: 16px 24px 24px 30px;
    background-color: grey;
    color: white;
}
.readmore{
    background-color: #1e90ff;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: solid white;
    cursor: pointer;
    width: 65%;
    opacity: 0.9;
}

.danger{
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: solid white;
    cursor: pointer;
    width: 65%;
    opacity: 0.9;
}
.hr-primary {
    border: 5px solid white;
    margin-bottom: 25px;
}
.hr-medium {
    border: 3px solid white;
    margin-bottom: 25px;
}
.hr-small {
    border: 2px solid white;
    margin-bottom: 25px;
}
