{% extends "base.html.twig" %}

{% block body_id 'about' %}

{% block body %}

    <div class="w3-row-padding w3-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-user" style="font-size:200px;color: blue"></i>
            </div>

            <div class="w3-twothird">
                <h1 class="w3-text-white">About Me</h1>
                <h4 class="w3-padding-32 w3-text-white">Why I made this site?</h4>
                <h5 class="w3-text-white">I love cars since I was a child and the thing that I love about them is that they give you freedom. It is a cliché but when you get behind the wheel you are free and you don't thing about stuff that you were worried about. And when you drive a lot you fell in love with your car and you are taking pictures of it. So when you take alot of pictures you want to share the good ones with the rest of the world. And here comes this site it is made for petrol heads like me that want to share their car.</h5>
            </div>
        </div>
    </div>

{% endblock %}